.main {

    &__background {
    }
}
.background {
    position: relative;
    &__content {
        position: relative;
        padding-bottom: 50.5%;
        img {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    &__body {
        display: grid;
        grid-template:1fr/1fr minmax(200px,1330px)1fr;
        padding: 0 15px;
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        line-height: 140%;
        color: #FFFFFF;
        position: relative;
        max-width: 860px;
        grid-column: 2/3;
        padding-top: 200px;
    }
    &__timer {
        display: flex;
        position: relative;
        justify-content: start;
        padding: 50px 0 20px 0;
        grid-column: 2/3;
        
    }
      &__countdown {
        font-family: 'Roboto,sans-serif';
        color: #fff;
        display:flex;
        font-weight: 100;
        text-align: center;
        font-size: 30px;
        column-gap: 30px;
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 20px;
      }
       
      &__countdown-number {
        padding: 20px 30px;
        border-radius: 3px;
        background: #121212;
        display: inline-block;
        width: 100px;
      }
       
      &__countdown-time {
        padding: 15px;
        border-radius: 3px;
        background: #121212;
        display: inline-block;
        font-size: 36px;
      }
       
      &__countdown-text {
        display: block;
        padding-top: 5px;
        font-size: 30px;
      }
      .backround {

		&__statistic {
		}
}
.statistic {
    background-color: #121212;
    position: absolute;
    width: 100%;
    min-height: 130px;
    bottom: -130px;
    display: grid;
    align-items: center;
		&__body {
            display: grid;
            grid-template:1fr/1fr minmax(200px,1330px)1fr;
            padding: 35px 15px 30px 15px;
		}

		&__items {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-column: 2/3;
            column-gap: 80px;
            row-gap: 20px;
		}

		&__item {
            display: grid;
            &:first-child {
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
            }

		}
        &__btn {
                background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
                border-radius: 50px;
                display: grid;
                align-items: center;
                text-align: center;
                padding: 10px 30px;
                max-width: 170px;
        }
		&__link {
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
		}

		&__info {
            padding-left: 10px;
		}

		&__members {
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            p { font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                opacity: 0.4;
            }
            
            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;

            }
		}

		&__successes {
            display: flex;
            justify-content: space-between;
            p { 
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                opacity: 0.4;
            }
            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;

            }
		}

		&__mooney {
            display: flex;
            p {
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                opacity: 0.4;
            }
            span {
                font-weight: 700;
                font-size: 16px;
                line-height: 150%;
                color: #FFFFFF;
                padding-left: 30px;
            }
		}

		&__line {
            max-width: 100%;
            height: 7px;
            background: linear-gradient(94.78deg, #DF5950 11.19%, #451046 73.72%,#FFF 15.09% );
		}

		&__numbers {
            display: flex;
            justify-content: space-between;
            p {
                font-size: 16px;
                line-height: 150%;
                text-align: right;
                color: #FFFFFF;
                opacity: 0.4;
            }
            span {
                font-size: 16px;
                line-height: 150%;
                text-align: right;
                color: #FFFFFF;
                opacity: 0.4;
            }
		}
}

}


